.scrolling {
    overflow-y: auto;
    overflow-x: auto;
    scroll-margin: 0;
    max-height: 300px;
    max-width: 100%;
}

.scrolling div {
    width: 100%;
}

.scrolling thead, th {
    position: sticky;
    top: 0;
}

.long_scrolling {
    overflow-y: auto;
    scroll-margin: 0;
    max-height: 80vh;
    max-width: 100%;
}

.long_scrolling div {
    width: 100%;
}

.long_scrolling thead, th {
    position: sticky;
    top: 0;
}