.stats{
    text-align: center;
}

.stats table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    align-items: center;
    width: 100%;
}

.stats td{
    padding: 5px;
    width: 100%;
    text-align: center;
}

.stats h1{
    border-bottom: dotted 1px #000000;
}

.stats div{
    text-align: center;
    height: available;
}