{% extends 'RecipeBook/base_page.html' %}

    {% block title %}
        <title>Add Recipe</title>
    {% endblock title %}

    {% block body %}
        <h1>Add Recipe</h1>
        <div class="long_scrolling">
            <form method="post">
                {% csrf_token %}
                <table style="text-align: left; padding-bottom: 10px">
                    {{ recipe_add_form.as_table }}
                </table>
                <input type="submit" value="Save">
            </form>
        </div>
    {% endblock body %}