{% extends 'RecipeBook/base_page.html' %}

{% block title %}
    <title>Categories</title>
{% endblock title %}

{% block body %}
    <h1>Categories</h1>
    {% if categories %}
        <table>
            <tr>
                <th>Name</th>
                <th># of Recipes</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td><a href="{% url 'RecipeBook:category_detail' category.slug %}">{{ category }}</a></td>
                    <td>{{ category.recipes.count }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock body %}