{% extends 'RecipeBook/base_page.html' %}

    {% block title %}
        <title>Category-{{ category }}</title>
    {% endblock title %}

    {% block body %}
        {% if category %}
            <h1>{{ category }}</h1>
            <table>
                <tr>
                    <th>Recipe</th>
                    <th># of Servings</th>
                    <th>Total time</th>
                    <th>Recipe Source</th>
                </tr>
                {% for recipe in category.recipes %}
                    <tr>
                        <td><a href="{% url 'RecipeBook:view_recipe' recipe.slug %}">{{ recipe }}</a></td>
                        <td>{{ recipe.servings }}</td>
                        <td>{{ recipe.total_time }} minutes</td>
                        <td>{{ recipe.source }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endblock body %}