<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if recipe_view %}
            {{ recipe.slug }}
        {% endif %}
    </title>
</head>
<body>
<table>
    <tr>
        <td><a href="{% url 'RecipeBook:main' %}">Go Home</a></td>
        <td><a href="{% url 'RecipeBook:add_recipe' %}">Add recipe</a></td>
        <td><a href="{% url 'RecipeBook:edit_recipe' recipe.category.name recipe.recipe_slug%}">Edit recipe</a></td>
    </tr>
</table>
<h1>{{ recipe.name }}</h1>
<div id="ingredients">
    <h3>Ingredients</h3>
    {% if ingredients %}
        <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div id="directions">
    <h3>Directions</h3>
    <p>{{ recipe.directions }}</p>
</div>
</body>
</html>