<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if category_recipe_list %}
            {{ category }}
        {% endif %}
    </title>
</head>
<body>
<h1>
    {% if category %}
        {{ category }}
    {% endif %}
</h1>
{% if category %}
    <ul>
        {% for recipe in recipes %}
            <li><a href="{% url 'RecipeBook:view_recipe' category recipe.slug %}">{{ recipe.recipe_name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>