{% extends 'RecipeBook/base_page.html' %}

    {% block title %}
        <title>{{ recipe }}</title>
    {% endblock title %}

    {% block scripts %}
        <script type="text/javascript">let url = "{{ recipe.get_absolute_url }}";</script>
        {% load static %}
        <script src="{% static 'RecipeBook/js/recipe_detail_1.0.js' %}"></script>

    {% endblock scripts %}

    {% block body %}
        {% if recipe %}
            <a href="{% url 'RecipeBook:edit_recipe' recipe.slug %}" style="float: right">Edit Recipe</a>
            <h1>{{ recipe }}</h1>
            <div id="ingredients_list">
                <h3>Ingredients:</h3>
                <ul id="ingredients_ul">
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="directions">
                <h3>Directions:</h3>
                {% for direction in recipe.directions %}
                    <p>{{ direction }}</p>
                {% endfor %}
            </div>
            <div id="prep_time">
                <p>
                    <h3 style="display: inline">Prep Time:</h3> {{ recipe.prep_time }}
                </p>
            </div>
            <div id="cook_time">
                <p>
                    <h3 style="display: inline">Cook Time:</h3> {{ recipe.cook_time }}
                </p>
            </div>
            <div id="servings">
                <p>
                    <h3 style="display: inline"># of servings:</h3> {{ recipe.servings }} servings
                </p>
            </div>
            <div id="source">
                <p>
                    <h3 style="display: inline">Source:</h3>
                    {% if recipe.link %}
                        <a href="{{ recipe.link }}">{{ recipe.link }}</a>
                    {% else %}
                        {{ recipe.source }}
                    {% endif %}
                </p>
            </div>
            <div id="categories">
                {% if recipe.categories %}
                    <p>
                        <h3 style="display: inline">Categories:</h3>
                        {% for category in recipe.categories.all %}
                            <a href="{% url 'RecipeBook:category_detail' category.slug %}">{{ category }} </a>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% endif %}
    {% endblock body %}
