{% extends 'RecipeBook/base_page.html' %}

    {% block title %}
        <title>{{ recipe }}</title>
    {% endblock title %}

    {% block scripts %}
        <script type="text/javascript">let url = "{{ recipe.get_absolute_url }}";</script>
        {% load static %}
        <script src="{% static 'RecipeBook/js/recipe_detail_1.2.js' %}"></script>

    {% endblock scripts %}

    {% block body %}
        {% if recipe %}
            <table style="border: none; text-align: left">
                <tr>
                    <td style="border: none;"><h1>{{ recipe }}</h1></td>
                    {% if user == recipe.submitter or user.is_superuser %}
                        <td style="border: none"><a href="{% url 'RecipeBook:edit_recipe' recipe.slug %}">Edit Recipe</a></td>
                    {% endif %}
                </tr>
            </table>
            <div id="ingredients_list">
                <h3>Ingredients:</h3>
                <ul id="ingredients_ul">
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="directions">
                <h3>Directions:</h3>
                {% for direction in recipe.directions %}
                    <p>{{ direction }}</p>
                {% endfor %}
            </div>
            {% if recipe.notes != ""%}
                <div id="notes">
                    <h3>Notes:</h3>
                    {% for note in recipe.notes %}
                        <p>{{ note }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div id="prep_time">
                <p>
                    <h3 style="display: inline">Prep Time:</h3> {{ recipe.prep_time }}
                </p>
            </div>
            <div id="cook_time">
                <p>
                    <h3 style="display: inline">Cook Time:</h3> {{ recipe.cook_time }}
                </p>
            </div>
            <div id="servings">
                <p>
                    <h3 style="display: inline"># of servings:</h3> {{ recipe.servings }} servings
                </p>
            </div>
            <div id="source">
                <p>
                    <h3 style="display: inline">Source:</h3>
                    {% if recipe.link %}
                        <a href="{{ recipe.link }}">{{ recipe.link }}</a>
                    {% else %}
                        {{ recipe.source }}
                    {% endif %}
                </p>
            </div>
            <div id="submitter">
                {% if recipe.submitter %}
                    <p>
                        <h3 style="display: inline">Submitted by:</h3>
                        <a href="{% url 'RecipeBook:profile_detail' recipe.submitter %}">{{ recipe.submitter.username }}</a>
                    </p>
                {% endif %}
            </div>
            <div id="categories">
                {% if recipe.categories %}
                    <p>
                        <h3 style="display: inline">Categories:</h3>
                        {% for category in recipe.categories.all %}
                            <a href="{% url 'RecipeBook:category_detail' category.slug %}">{{ category }} </a>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
            <div id="recipe sizing">
                <form action="" method="post" name="Recipe Sizing" title="Recipe Sizing" id="recipe_sizing_form">
                    <table style="border: none">
                        <tr>
                            <td style="border: none;"><b>{{ resize_form.default_recipe_sizes.label_tag }}</b></td>
                            <td style="border: none;">{{ resize_form.default_recipe_sizes }}</td>
                        </tr>
                    </table>
                    <div style="padding-top: 5px">
                        <input type="button" value="submit" id="recipe_sizing_submit">
                        <input type="reset" value="reset" id="recipe_sizing_reset">
                    </div>
                </form>
            </div>
        {% endif %}
    {% endblock body %}
